.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 10px;
  left: 0;
  right: 0;
  height: 300px;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  justify-content: space-between;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.background-picture{
  background-color: white;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  height: 200px;
  width: 100%;
  margin: 0;
  color: black;
  justify-content: space-between;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.name-box{
  background-color: rgb(39, 21, 143);
  display: flex;
  position: absolute;
  align-items: center;
  bottom: -30px;
  height: 150px;
  width: 60%;
  margin-left: 50px;
  padding-left: 20px;
  font-size: 50px;
  color: white;
  justify-content: space-between;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
}

.about-name-box{
  background-color: #2C2A58;
  display: flex;
  position: absolute;
  align-items: center;
  bottom: -30px;
  height: 150px;
  width: 60%;
  margin-left: 50px;
  padding-left: 20px;
  font-size: 50px;
  color: white;
  justify-content: space-between;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
}

.undegrad, .mphil, 
.phd, .short-courses, 
.entry-req, .contact-us{
  display: flex;
  flex-direction: row;

}

.about-background{
  display: flex;
  position: relative;
  flex-direction: column;
  top: 10px;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  justify-content: space-between;
  border-style: solid;  
  border-color: white;
}

.about-background-picture{
  height: 100%;
  filter: blur(2px);
}
